<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Status</th>
      <th>Roles</th>
      <th colspan=2>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.status %></td>
        <td><% user.roles.each do |role| %>
          <%= role.name %>
        <% end %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
        <td><%= link_to_if user.pending?, 'Approve', admin_user_approve_path(user), method: :patch %></td>
        <td><%= link_to 'View', admin_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Log out', destroy_user_session_path, method: :delete %>