<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rails Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class='h-100 w-100 mh-100 mw-100 overflow-auto position-absolute'>
    <div class="container col-5 position-absolute top-1 end-0">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == 'notice' ? 'success' : 'danger'%> alert-dismissible fade show" role="alert">
            <%= msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
